<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mediaplayerdemo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MediaPlayerDemo">
        <activity android:name=".pstd" />
        <activity android:name=".addiction" />
        <activity android:name=".Psychosis" />
        <activity android:name=".Despression" />
        <activity android:name=".Bipolar" />
        <activity android:name=".Anxiety" />
        <activity android:name=".SignIn">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Registration" />
        <activity android:name=".Navigation" />
        <activity android:name=".Meditation_Screen" />
        <activity android:name=".Medtation_QA" />
        <activity android:name=".Dahsboard" />
        <activity android:name=".SongList" />
        <activity android:name=".VideoPlayer" />
        <activity android:name=".AudioPlayer" />
        <activity android:name=".MainActivity" />
    </application>

</manifest>